<div class="sc-panel-thingNoImg-1 bh-mr-8 bh-mb-8 <%=moduleName %>-card">
  <div class="sc-panel-thingNoImg-1-container bh-animate-all bh-animate-fast">
    <div class="sc-panel-thingNoImg-1-description">
      <div class="sc-panel-thingNoImg-1-header">
        <div class="sc-panel-thingNoImg-1-title">{{row.name}}</div>
        <a href="javascript:void(0);" class="bh-tag bh-tag-{{row.status?'success':'warning'}}">{{row.status?'已使用':'未使用'}}</a>
      </div>
      <div class="sc-panel-thingNoImg-1-subject">
        <div class="sc-panel-thingNoImg-1-subjectKey sc-width-50">{{$t('<%=moduleName %>.card.admin')}}</div>
        <div class="sc-panel-thingNoImg-1-subjectValue <%=moduleName %>-card-value">{{row.admin}}</div>
      </div>
      <div class="sc-panel-thingNoImg-1-subject">
        <div class="sc-panel-thingNoImg-1-subjectKey sc-width-50">{{$t('<%=moduleName %>.card.parentDept')}}</div>
        <div class="sc-panel-thingNoImg-1-subjectValue <%=moduleName %>-card-value">{{row.parentDept}}</div>
      </div>
    </div>
    <div class="sc-panel-thingNoImg-1-operate bh-animate-bottom bh-animate-fast">
      <span class="bh-mh-4 card-opt-button" data-event="<%=moduleName %>.gridEdit">{{$t('<%=moduleName %>.card.edit')}}</span> | <span class="bh-mh-4 card-opt-button" data-event="<%=moduleName %>.gridDel">{{$t('<%=moduleName %>.card.del')}}</span>
    </div>
  </div>
</div>
